<app-navbar></app-navbar>


<!-- Trending products (carousel) -->
<section class="py-5" style="background-color: #e5e8ed;">
    <div class="container my-lg-2 py-2 py-md-4">
        <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
            <h2 class="h1 mb-0">Tendencia Ahora</h2>
            <div class="tns-custom-controls cs-controls-inverse" id="custom-controls-trending" tabindex="0">
                <button type="button" data-controls="prev" tabindex="-1">
                    <i class="cxi-arrow-left"></i>
                </button>
                <button type="button" data-controls="next" tabindex="-1">
                    <i class="cxi-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="cs-carousel pb-2">
            <div class="row" data-carousel-options='{
          "nav": false,
          "controlsContainer": "#custom-controls-trending",
          "responsive": {
            "0": {
              "items": 1,
              "gutter": 20
            },
            "480": {
              "items": 2,
              "gutter": 24
            },
            "700": {
              "items": 3,
              "gutter": 24
            },
            "1100": {
              "items": 4,
              "gutter": 30
            }
          }
        }'>

                <!-- Item -->
                <div class="col-md-4">
                    <div class="card card-product mx-auto">
                        <div class="card-product-img">
                            <a href="shop-single.html" class="card-img-top">
                                <img src="assets/img/ecommerce/shop/08.jpg" alt="Product image">
                            </a>
                            <!-- <div class="card-product-widgets-top">
                                <div class="star-rating ml-auto">
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star-filled active"></i>
                                </div>
                            </div> -->
                            <div class="card-product-widgets-bottom">
                                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left"
                                    title="Add to wishlist"></a>
                            </div>
                        </div>
                        <div class="card-body bg-0 pb-2">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a href="shop-single.html" class="nav-link">Portatil Gamer AsusRog</a>
                            </h3>
                            <div class="d-flex align-items-center">
                                <span class="h5 d-inline-block mb-0">$3.850.000</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="col-md-4">
                    <div class="card card-product mx-auto">
                        <div class="card-product-img">
                            <a href="shop-single.html" class="card-img-top">
                                <img src="assets/img/ecommerce/shop/07.jpg" alt="Product image">
                            </a>
                            <!-- <div class="card-product-widgets-top">
                                <div class="star-rating ml-auto">
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star"></i>
                                </div>
                            </div> -->
                            <div class="card-product-widgets-bottom">
                                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left"
                                    title="Add to wishlist"></a>
                            </div>
                        </div>
                        <div class="card-body bg-0 pb-2">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a href="shop-single.html" class="nav-link">Play Station 4 Pro</a>
                            </h3>
                            <div class="d-flex align-items-center">
                                <span class="h5 d-inline-block mb-0">$1.850.000</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="col-md-4">
                    <div class="card card-product mx-auto">
                        <div class="card-product-img">
                            <a href="shop-single.html" class="card-img-top">
                                <img src="assets/img/ecommerce/shop/05.jpg" alt="Product image">
                            </a>
                            <div class="card-product-widgets-bottom">
                                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left"
                                    title="Add to wishlist"></a>
                            </div>
                        </div>
                        <div class="card-body bg-0 pb-2">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a href="shop-single.html" class="nav-link">Camara webcam Trust</a>
                            </h3>
                            <div class="d-flex align-items-center">
                                <span class="h5 d-inline-block mb-0">$100.000</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="col-md-4">
                    <div class="card card-product mx-auto">
                        <div class="card-product-img">
                            <a href="shop-single.html" class="card-img-top">
                                <img src="assets/img/ecommerce/shop/03.png" alt="Product image">
                            </a>
                            <div class="card-product-widgets-bottom">
                                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left"
                                    title="Add to wishlist"></a>
                            </div>
                        </div>
                        <div class="card-body bg-0 pb-2">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a href="shop-single.html" class="nav-link">Computadora Intel Core i5 9100</a>
                            </h3>
                            <div class="d-flex align-items-center">
                                <span class="h5 d-inline-block mb-0">$1.650.000</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="col-md-4">
                    <div class="card card-product mx-auto">
                        <div class="card-product-img">
                            <a href="shop-single.html" class="card-img-top">
                                <img src="assets/img/ecommerce/shop/06.jpg" alt="Product image">
                            </a>
                            <!-- <div class="card-product-widgets-top">
                                <div class="star-rating ml-auto">
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star-filled active"></i>
                                    <i class="sr-star cxi-star"></i>
                                    <i class="sr-star cxi-star"></i>
                                </div>
                            </div> -->
                            <div class="card-product-widgets-bottom">
                                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left"
                                    title="Add to wishlist"></a>
                            </div>
                        </div>
                        <div class="card-body bg-0 pb-2">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a href="shop-single.html" class="nav-link">Xbox One S</a>
                            </h3>
                            <div class="d-flex align-items-center">
                                <span class="h5 d-inline-block mb-0">$1.950.000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>