<!-- Footer -->
<footer class="cs-footer pt-sm-5 pt-4 bg-dark">
    <div class="container pt-3">
        <div class="row pb-sm-2">
            <div class="col-6 col-sm-3 col-lg-4 mb-4">
                <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Ayuda</h3>
                <ul class="nav nav-light flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Entregas &amp; retornos</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="order-tracking.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Rastrear entrega</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="contacts.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Contactos</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-lg-4 col-xl-4 mb-4">
                <h3 class="h6 mb-2 pb-1 text-uppercase text-light pl-xl-6">Tienda</h3>
                <ul class="nav nav-light flex-column pl-xl-6">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Nuevos Produtos</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Tendencias Ahora</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Ventas</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Marcas</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-lg-4 pb-2 pb-lg-0 mb-4">
                <h3 class="h6 mb-2 pb-1 text-uppercase text-light">CONTACTANOS</h3>
                <ul class="nav nav-light flex-column pb-3">
                    <li class="nav-item text-nowrap mb-2">
                        <span class="text-light mr-1">Tel:</span>
                        <a href="tel:4055550128"
                            class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">(57) 31110128</a>
                    </li>
                    <li class="nav-item text-nowrap mb-2">
                        <span class="text-light mr-1">Email:</span>
                        <a href="mailto:support@example.coms"
                            class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">eCommerceCentralPark@mail.com</a>
                    </li>
                </ul>
                <a href="#" class="social-btn sb-solid sb-light mr-2">
                    <i class="cxi-facebook"></i>
                </a>
                <a href="#" class="social-btn sb-solid sb-light mr-2">
                    <i class="cxi-instagram"></i>
                </a>
                <a href="#" class="social-btn sb-solid sb-light mr-2">
                    <i class="cxi-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="border-top border-light">
        <div class="container py-4">
            <div class="font-size-xs text-light">
                <span class="font-size-sm">&copy; </span>
                Todos los derechos reservados - eCommerce Parque Central 2021. 
            </div>
        </div>
    </div>
</footer>