<!-- Header (Topbar + Navbar) -->
<header class="cs-header">

    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <div class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky" data-fixed-element>
        <div class="container px-0 px-xl-3">
            <a routerLink="/" class="navbar-brand order-lg-1 mr-0 pr-lg-3 mr-lg-4">
                <img src="assets/img/ecommerce/logoNavbar.png" alt="Createx Logo" width="130">
            </a>
            <!-- Search desktop -->
            <!-- <div class="input-group-overlay ml-4 d-lg-block d-none order-lg-3" style="max-width: 21rem;">
                <input class="form-control appended-form-control" type="text" placeholder="Buscar productos...">
                <div class="input-group-append-overlay">
                    <span class="input-group-text"><i class="cxi-search lead align-middle"></i></span>
                </div>
            </div> -->
            <!-- Toolbar -->
            <div class="d-flex align-items-center order-lg-3">
                <ul class="nav nav-tools flex-nowrap">

                    <ng-container *ngIf="usuario_datos != undefined">
                        <li class="nav-item d-lg-block d-none dropdown">
                            <a class="nav-tool dropdown-toggle" toggle="dropdown">
                                <i class="cxi-profile nav-tool-icon"></i>
                                <span class="nav-tool-label">{{ usuario_datos.nombres +' '+
                                    usuario_datos.apellidos}}</span>
                            </a>

                            <div class="dropdown-menu">
                                <a [routerLink]="['/cuenta/perfil']" routerLinkActive="active" class="dropdown-item">
                                    <i class="cxi-profile mr-2"></i>
                                    Perfil
                                    <!-- <span class="badge rounded-pill bg-danger ms-2">3</span> -->
                                </a>
                                <!-- <a href="#" class="dropdown-item">
                                    <i class="cxi-comment mr-2"></i>
                                    Messages
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="cxi-external-link mr-2"></i>
                                    Settings
                                </a> -->
                                <a role="button" (click)="logout()" class="dropdown-item">
                                    <i class="cxi-logout mr-2"></i>
                                    Cerrar Sesion
                                </a>
                            </div>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="usuario_datos == undefined">
                        <li class="nav-item d-lg-block d-none mb-0">
                            <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-tool">
                                <i class="fa fa-sign-in nav-tool-icon"></i>
                                <span class="nav-tool-label">Iniciar Sesion</span>
                            </a>
                        </li>
                        <li>|</li>
                        <li class="nav-item d-lg-block d-none mb-0">
                            <a [routerLink]="['/registrar-usuario']" routerLinkActive="router-link-active"
                                class="nav-tool">
                                <i class="cxi-login nav-tool-icon"></i>
                                <span class="nav-tool-label">Registrarme</span>
                            </a>
                        </li>
                    </ng-container>

                    <li class="divider-vertical mb-0 d-lg-block d-none"></li>

                    <li class="nav-item align-self-center mb-0">
                        <a style="cursor: pointer;" class="nav-tool pr-lg-0" (click)="op_modalcart()">
                            <i class="cxi-cart nav-tool-icon"></i>
                            <span class="badge badge-success align-middle mt-n1 ml-2 px-2 py-1 font-size-xs">{{ carrito_arr.length }}</span>
                        </a>
                    </li>
                    <li class="divider-vertical mb-0 d-lg-none d-block"></li>
                    <li class="nav-item mb-0">
                        <button class="navbar-toggler mt-n1 mr-n3" type="button" data-toggle="collapse"
                            data-target="#navbarCollapse" aria-expanded="false">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- Navbar collapse -->
            <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse">
                <!-- Search mobile -->
                <div class="input-group-overlay form-group mb-0 d-lg-none d-block">
                    <input type="text" class="form-control prepended-form-control rounded-0 border-0"
                        placeholder="Buscar productos...">
                    <div class="input-group-prepend-overlay">
                        <span class="input-group-text">
                            <i class="cxi-search font-size-lg align-middle mt-n1"></i>
                        </span>
                    </div>
                </div>
                <!-- Menu -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                            class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a routerLink="/productos" routerLinkActive="active" class="nav-link dropdown-toggle"
                            data-toggle="dropdown">Tienda</a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let item of categorias_global.categorias">
                                <a [routerLink]="['/productos/categoria/', item.titulo.toLowerCase()]"
                                    routerLinkActive="router-link-active" class="dropdown-item"><i
                                        class="{{ item.icono }}"></i> &nbsp; {{ item.titulo }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/locales-comerciales" routerLinkActive="active" class="nav-link">Locales</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contacto" routerLinkActive="active" class="nav-link">Contacto</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>

<div id="cart" class="cs-offcanvas cs-offcanvas-right">

    <!-- Header -->
    <div class="cs-offcanvas-cap align-items-center border-bottom">
        <h2 class="h5 mb-0">Tu carrito ({{ carrito_arr.length }})</h2>
        <button (click)="op_modalcart()" class="close mr-n1" type="button" data-dismiss="offcanvas" aria-label="Close">
            <span class="h3 font-weight-normal mb-0" aria-hidden="true">×</span>
        </button>
    </div>

    <!-- Body -->
    <div class="cs-offcanvas-body">
        <!-- Item -->
        <div class="media p-4 border-bottom mx-n4" *ngFor="let item of carrito_arr">
            <a [routerLink]="['/productos/', item.producto.slug]" target="_blank" style="min-width: 80px;">
                <img [src]="url+'obtener_portada/'+item.producto.portada" width="80" alt="Product thumb">
            </a>
            <div class="media-body pl-3">
                <div class="d-flex justify-content-between">
                    <div class="pr-2">
                        <h3 class="font-size-sm mb-3">
                            <a [routerLink]="['/productos/', item.producto.slug]" target="_blank" class="nav-link font-weight-bold">{{ item.producto.titulo }}</a>
                        </h3>
                        <div class="d-flex align-items-center">
                            <input type="number" class="form-control form-control-sm bg-light mr-3"
                                style="width: 4.5rem;" name="cantidad" [(ngModel)]="item.cantidad">
                            <div class="text-nowrap"><strong class="text-danger">${{ item.producto.precio }}</strong> 
                                <s class="font-size-xs text-muted"></s></div>
                        </div>
                        <!-- <button class="btn btn-link btn-sm text-decoration-none px-0 pb-0">
                            Mover a 
                            <i class="cxi-heart ml-1"></i>
                        </button> -->
                    </div>
                    <div class="nav-muted mr-n2">
                        <a (click)="eliminar_item(item._id)" role="button" style="cursor: pointer;" class="nav-link px-2 mt-n2" title="Eliminar"><i class="cxi-delete"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="cs-offcanvas-cap flex-column border-top">
        <div class="d-flex align-items-center justify-content-between mb-3 pb-1">
            <span class="text-muted mr-2">Subtotal:</span>
            <span class="h5 mb-0">${{ subtotalFormated }}</span>
        </div>
        <a [routerLink]="['/checkout']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg btn-block">
            <i class="cxi-credit-card font-size-lg mt-n1 mr-1"></i>
            Proceder al pago
        </a>
    </div>
</div>

<!-- Promo bar -->
<section class="cs-promo-bar bg-primary py-2">
    <div class="container d-flex justify-content-center">
        <div class="cs-carousel cs-controls-inverse">
            <!-- <div class="cs-carousel-inner" data-carousel-options='{"mode": "gallery", "nav": false}'>

            </div> -->
        </div>
    </div>
</section>