<!-- Header (Topbar + Navbar) -->
<header class="cs-header">

    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <div class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky" data-fixed-element>
        <div class="container px-0 px-xl-3">
            <a routerLink="/" class="navbar-brand order-lg-1 mr-0 pr-lg-3 mr-lg-4">
                <img src="assets/img/ecommerce/logoNavbar.png" alt="Createx Logo" width="130">
            </a>
            <!-- Search desktop -->
            <div class="input-group-overlay ml-4 d-lg-block d-none order-lg-3" style="max-width: 21rem;">
                <input class="form-control appended-form-control" type="text" placeholder="Buscar productos...">
                <div class="input-group-append-overlay">
                    <span class="input-group-text"><i class="cxi-search lead align-middle"></i></span>
                </div>
            </div>
            <!-- Toolbar -->
            <div class="d-flex align-items-center order-lg-3">
                <ul class="nav nav-tools flex-nowrap">
                    <li class="nav-item d-lg-block d-none mb-0">
                        <a href="account-wishlist.html" class="nav-tool">
                            <!-- <i class="cxi-heart nav-tool-icon"></i> -->
                            <span class="nav-tool-label">Iniciar Sesion</span>
                        </a>
                    </li>
                    <li class="divider-vertical mb-0 d-lg-block d-none"></li>
                    
                    <li class="nav-item align-self-center mb-0">
                        <a href="#" class="nav-tool pr-lg-0" data-toggle="offcanvas" data-target="cart">
                            <i class="cxi-cart nav-tool-icon"></i>
                            <span class="badge badge-success align-middle mt-n1 ml-2 px-2 py-1 font-size-xs">0</span>
                        </a>
                    </li>
                    <li class="divider-vertical mb-0 d-lg-none d-block"></li>
                    <li class="nav-item mb-0">
                        <button class="navbar-toggler mt-n1 mr-n3" type="button" data-toggle="collapse"
                            data-target="#navbarCollapse" aria-expanded="false">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- Navbar collapse -->
            <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse">
                <!-- Search mobile -->
                <div class="input-group-overlay form-group mb-0 d-lg-none d-block">
                    <input type="text" class="form-control prepended-form-control rounded-0 border-0"
                        placeholder="Buscar productos...">
                    <div class="input-group-prepend-overlay">
                        <span class="input-group-text">
                            <i class="cxi-search font-size-lg align-middle mt-n1"></i>
                        </span>
                    </div>
                </div>
                <!-- Menu -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tienda</a>
                        <ul class="dropdown-menu">
                            <li><a href="shop-catalog.html" class="dropdown-item">Catalog with Filters</a></li>
                            <li><a href="shop-single.html" class="dropdown-item">Single Product</a></li>
                            <li><a href="checkout.html" class="dropdown-item">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contacto" routerLinkActive="active" class="nav-link">Contacto</a>
                    </li>
                    <!-- <li class="nav-item dropdown mega-dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Menú</a>
                        <div class="dropdown-menu">
                            <div class="container pt-lg-1 pb-lg-3">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 py-2">
                                        <ul class="list-unstyled">
                                            <li><a href="#" class="dropdown-item">New collection</a></li>
                                            <li><a href="#" class="dropdown-item">Best sellers</a></li>
                                            <li><a href="#" class="dropdown-item">Plus size</a></li>
                                            <li><a href="#" class="dropdown-item text-danger">Sale up to 70%</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-2 col-md-3 py-2">
                                        <h4 class="font-size-sm text-uppercase pt-1 mb-2">Clothes</h4>
                                        <ul class="list-unstyled">
                                            <li><a href="#" class="dropdown-item">Coats</a></li>
                                            <li><a href="#" class="dropdown-item">Jackets</a></li>
                                            <li><a href="#" class="dropdown-item">Suits</a></li>
                                            <li><a href="#" class="dropdown-item">Dresses</a></li>
                                            <li><a href="#" class="dropdown-item">Cardigans &amp; sweaters</a></li>
                                            <li><a href="#" class="dropdown-item">Sweatshirts &amp; hoodies</a></li>
                                            <li><a href="#" class="dropdown-item">T-shirts &amp; tops</a></li>
                                            <li><a href="#" class="dropdown-item">Pants</a></li>
                                            <li><a href="#" class="dropdown-item">Jeans</a></li>
                                            <li><a href="#" class="dropdown-item">Shorts</a></li>
                                            <li><a href="#" class="dropdown-item">Skirts</a></li>
                                            <li><a href="#" class="dropdown-item">Lingerie &amp; nightwear</a></li>
                                            <li><a href="#" class="dropdown-item">Sportswear</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-2 col-md-3 py-2">
                                        <h4 class="font-size-sm text-uppercase pt-1 mb-2">Shoes</h4>
                                        <ul class="list-unstyled">
                                            <li><a href="#" class="dropdown-item">Boots</a></li>
                                            <li><a href="#" class="dropdown-item">Flat shoes</a></li>
                                            <li><a href="#" class="dropdown-item">Heels</a></li>
                                            <li><a href="#" class="dropdown-item">Sandals</a></li>
                                            <li><a href="#" class="dropdown-item">Mules</a></li>
                                            <li><a href="#" class="dropdown-item">Sliders</a></li>
                                            <li><a href="#" class="dropdown-item">Slippers</a></li>
                                            <li><a href="#" class="dropdown-item">Sneakers</a></li>
                                            <li><a href="#" class="dropdown-item">Leather</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-2 col-md-3 py-2">
                                        <h4 class="font-size-sm text-uppercase pt-1 mb-2">Accessories</h4>
                                        <ul class="list-unstyled">
                                            <li><a href="#" class="dropdown-item">Bags &amp; backpacks</a></li>
                                            <li><a href="#" class="dropdown-item">Hats &amp; scarves</a></li>
                                            <li><a href="#" class="dropdown-item">Hair accessories</a></li>
                                            <li><a href="#" class="dropdown-item">Belts</a></li>
                                            <li><a href="#" class="dropdown-item">Jewellery</a></li>
                                            <li><a href="#" class="dropdown-item">Watches</a></li>
                                            <li><a href="#" class="dropdown-item">Sunglasses</a></li>
                                            <li><a href="#" class="dropdown-item">Purses</a></li>
                                            <li><a href="#" class="dropdown-item">Socks &amp; tights</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-1 d-none d-lg-block py-2">
                                        <span class="divider-vertical h-100 mx-auto"></span>
                                    </div>
                                    <div class="col-lg-3 d-none d-lg-block py-2">
                                        <a href="#" class="d-block text-decoration-none pt-1">
                                            <img src="assets/img/ecommerce/megamenu.jpg" class="d-block rounded mb-3"
                                                alt="Promo banner">
                                            <h5 class="font-size-sm mb-3">Back to school. Sale up to 50%</h5>
                                            <div class="btn btn-outline-primary btn-sm">
                                                See offers
                                                <i class="cxi-arrow-right ml-1"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->

                </ul>
            </nav>
        </div>
    </div>
</header>

<!-- Promo bar -->
<section class="cs-promo-bar bg-primary py-2">
    <div class="container d-flex justify-content-center">
        <div class="cs-carousel cs-controls-inverse">
            <div class="cs-carousel-inner" data-carousel-options='{"mode": "gallery", "nav": false}'>
                
            </div>
        </div>
    </div>
</section>