<app-navbar></app-navbar>

<main class="cs-page-wrapper">
    <!-- Breadcrumb -->
    <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active" ><i class="cxi-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Mis direcciones</li>
            </ol>
        </div>
    </nav>

    <!-- Page container -->
    <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">

            <!-- Account menu (sticky sidebar) -->
            <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
                <app-sidebar></app-sidebar>
            </aside>

            <!-- Content -->
            <div class="col-lg-8 ml-auto">
                <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
                    <h1 class="h2 mb-0">Mis direcciones</h1>
                </div>
                <form action="">
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="usuario-nombres">Nombres</label>
                      <input [(ngModel)]="direccion.destinatario" name="destinatario" required placeholder="destinatario" type="text" id="usuario-nombres" class="form-control form-control-lg">
                  </div>
                  <div class="col-sm-6 form-group">
                    <label for="usuario-nombres">DNI</label>
                    <input [(ngModel)]="direccion.dni" name="dni" required placeholder="dni" type="text" class="form-control form-control-lg">
                </div>
                  </div>
                </form>
            </div>

        </div>
    </section>

</main>

<app-footer></app-footer>
